@model List<MembershipRole>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width:50px">Check</th>
            <th>Role Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var it in Model)
        {
            <tr>
                <td>
                    @if (User.Identity.Name == AppConstants.AdminUserName || it.RoleName != AppConstants.AdminRoleName)
                    {
                        <input type="checkbox" value="@it.Id" name="RolesId[]" />
                    }
                </td>
                <td>@it.RoleName</td>
            </tr>
        }
    </tbody>
</table>