<div id="mainslider">
    <div class="slider">
        <div class="fullscreen-container">
            <div class="fullscreenbanner">
                <ul>
                    <li data-transition="slide" data-slotamount="10">
                        <img class="img-responsive" alt="" src="~/Content/images/sliderimg-1.png" />
                        <div class="caption sfb"
                             data-x="center"
                             data-y="160"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                            <div class="slider-text clearfix">
                                <div class="text-box">
                                    <h2>My Sweet Home Real Estate</h2>
                                    <p>Whether you’re looking to sell or let your home or want to buy or rent a</p>
                                    <p> home, we really are the people for you to come to.</p>
                                </div>
                                <div class="slider-button">
                                    @*<div class="view-btn"> <a href="">VIEW DETAILS</a> </div>*@
                                    <div class="signup-btn"> <a href="/Members/Register">SIGNUP NOW</a> </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-transition="slide" data-slotamount="10">
                        <img class="img-responsive" alt="" src="~/Content/images/sliderimg-2.png" />
                        <div class="caption sfb"
                             data-x="center"
                             data-y="center"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                            <div class="slider-text clearfix">
                                <div class="text-box">
                                    <h2>My Sweet Home Real Estate</h2>
                                    <p>Whether you’re looking to sell or let your home or want to buy or rent a</p>
                                    <p> home, we really are the people for you to come to.</p>
                                </div>
                                <div class="slider-button">
                                    <div class="signup-btn"> <a href="/Members/Register">SIGNUP NOW</a> </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-transition="slide" data-slotamount="10">
                        <img class="img-responsive" alt="" src="~/Content/images/sliderimg-3.png" />
                        <div class="caption sfb"
                             data-x="center"
                             data-y="center"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                            <div class="slider-text clearfix">
                                <div class="text-box">
                                    <h2>My Sweet Home Real Estate</h2>
                                    <p>Whether you’re looking to sell or let your home or want to buy or rent a</p>
                                    <p> home, we really are the people for you to come to.</p>
                                </div>
                                <div class="slider-button">
                                    <div class="signup-btn"> <a href="/Members/Register">SIGNUP NOW</a> </div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
